<h2>Chat with <%= @recipient.name %></h2>
<%= link_to "View #{@recipient.name}'s Profile", @recipient %>
<br><br>
<% if @over_ten %>
   <%= link_to 'Load More Messages', '?m=all' %>
<% end %>

<div>
  <% unless @is_blank %>
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
        <div>
          <div><strong><%= user.name %></strong> <%= message.message_time %></div>
          <%= simple_format(message.body) %>
        </div>
      <% end %>
    <% end %>
    <% unless @messages.last.read %>
      <% if @messages.last.user_id == current_user.id %>
        <i>(Unread)</i>
      <% end %>
    <% end %>
  <% else %>
    <p>Send your first message to <%= @recipient.name %></p>
  <% end %>
</div>

<br>

<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <div>
    <%= f.submit "Send", class: "ui blue labeled submit icon button" %>
  </div>
<% end %>
<%= link_to 'Back', conversations_path %>
