<div class="row body-options">
  <div class="col-md-12">
    <h1>Chat with <%= @recipient.name %></h1>
    <%= link_to "View #{@recipient.name}'s Profile", @recipient %>
    <%= link_to 'Back', conversations_path, class: 'btn btn-secondary float-right' %>
  </div>
</div>

<div id="messages">
  <% if @over_ten %>
    <%= link_to 'Load More Messages', '?m=all' %><br><br>
  <% end %>
  <% unless @is_blank %>
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
        <div>
          <div><strong><%= user.name %></strong> <%= message.message_time %></div>
          <%= simple_format(message.body) %>
        </div>
      <% end %>
    <% end %>
    <% unless @messages.last.read %>
      <% if @messages.last.user_id == current_user.id %>
        <i>(Unread)</i>
      <% end %>
    <% end %>
  <% else %>
    <p>Send your first message to <%= @recipient.name %></p>
  <% end %>
</div>

<div id="row">
  <div class="col-md-12">
    <%= form_for [@conversation, @message], remote: true, html: {class: "reply-form"} do |f| %>
      <div class="form-row">
        <div class="form-group col-md-10 mb-0">
          <%= f.text_area :body, placeholder: "Type a message", class: 'form-control' %>
        </div>
        
        <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>

        <div class="col-md-2">
          <%= f.submit "Send", class: 'btn btn-primary custom-button', id: 'send-button' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- Scroll -->
<%= javascript_tag do %>
  window.onload=function () {
    var objDiv = document.getElementById("messages");
    objDiv.scrollTop = objDiv.scrollHeight;
  }
  var objDiv = document.getElementById("messages");
  objDiv.scrollTop = objDiv.scrollHeight;
  //$("#messages").scrollTop($("#messages")[0].scrollHeight);
  // $("#messages").animate({ scrollTop: $('#messages').prop("scrollHeight")}, 1000);
<% end %>
<!-- Scroll -->
