<div class="people-cards">
  <% users.each do |user| %>
    <div class="col-md-3">
      <%= link_to user do %>
        <div class="card people-card">
          <div class="card-img-top"><%= gravatar_for(user, 240) %></div>
          <div class="card-body">
            <h4 class="card-title"><%= user.name %></h4>
            <p class="card-text"><%= user.bio.truncate(36, separator: ' ') %></p>
            <!-- <% if user.lat && user.lng %>
              <p class="card-text"><small class="text-muted"><%= "#{user.lat} | #{user.lng}" %></small></p>
            <% end %> -->
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<%= paginate users, window: 1 %>
