<div class="row text-center body-options">
  <div class="col-md-12">
    <%= render 'posts/form', post: @post %>
  </div>
</div>

<div class="row body-options">
  <div class="col-md-12">
    <h1>My Feed:</h1>

    <ul class="list-group">
      <% @posts.each do |post| %>
        <li id="post-<%= post.id %>" class="list-group-item" >
        <span class="content"><%= simple_format(post.content, style: "font-family: 'Arial', sans-serif;") %></span>
        <span class="timestamp">
          (Posted by <%= link_to post.user.name, post.user %> <%= time_ago_in_words(post.created_at) %> ago.)
        </span>
        <div>
          <p>
            <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
            <% if pre_like %>
              <%= link_to image_tag('heart-liked.png'), post_like_path(post, pre_like), method: :delete, style: 'height:8px;width:8px;', remote: true %>
            <% else %>
              <%= link_to image_tag('heart-unliked.png'), post_likes_path(post), method: :post, style: 'height:8px;width:8px', remote: true %>
            <% end %>
            <%= post.likes.size %>
          </p>
        </div>
        <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } if is_current_user?(post.user) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-12 mt-2">
    <%= paginate @posts, window: 1 %>
  </div>
</div>
