<!-- Geolocation -->
<%= javascript_tag do %>
  if ('geolocation' in navigator) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var cookie_val = position.coords.latitude + "|" + position.coords.longitude;
      console.log(cookie_val);
      document.cookie = "lat_lng=" + escape(cookie_val);
      console.log(document.cookie)
    });
  } else {
    alert("Sorry, your browser does not support HTML5 geolocation.");
  }
<% end %>

<!-- Geolocation -->

<h1>Hi <%= current_user.name %>! These people are nearby:</h1>
<%= button_to 'Refresh', update_location_path(current_user), method: :put %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th>Lat</th>
      <th>Lng</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.bio %></td>
        <td><%= user.lat %></td>
        <td><%= user.lng %></td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
