<!-- Geolocation -->
<script>
  function cb(position) {
    document.getElementById('lat').value = position.coords.latitude;
    document.getElementById('lon').value = position.coords.longitude;
  }
  if ('geolocation' in navigator) {
    navigator.geolocation.getCurrentPosition(cb);
  } else {
    // TODO
  }
</script>

<%= form_tag '/', :method=>'post' do %>
  <%= hidden_field_tag 'lat', value = ''%>
  <%= hidden_field_tag 'lon', value = ''%>
<% end %>
<!-- Geolocation -->

<h1>Hi <%= current_user.name %>! These people are nearby:</h1>
<button>Refresh</button>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th>Lat</th>
      <th>Lng</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.bio %></td>
        <td><%= user.lat %></td>
        <td><%= user.lng %></td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
