<!-- Geolocation -->
<%= javascript_tag do %>
  if ('geolocation' in navigator) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var cookie_val = position.coords.latitude + "|" + position.coords.longitude;
      console.log(cookie_val);
      document.cookie = "lat_lng=" + escape(cookie_val) + ";path=/users/" + <%= current_user.id %>;
    });
  } else {
    alert("Sorry, your browser does not support HTML5 geolocation.");
  }
<% end %>
<!-- Geolocation -->

<%= button_to 'Refresh', update_location_path(current_user), method: :put %>
<h1>Hi <span id='name'><%= current_user.name %></span>!</h1>

<% if @users.any? %>
  <h1>These people are nearby:</h1>
  <%= render 'users/shared/table', users: @users %>
<% else %>
  <p>No one is currently nearby.</p>
<% end %>
