<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
        <h1><%= @user.name %></h1>
        <span><b>Posts:</b> <%= @user.posts.count %></span>
    </section>
    <%= render 'shared/stats' %>
  </aside>
  <div class="col-md-8">
    <% if @users.any? %>
      <h3><%= @title %></h3>
      <%= render 'users/shared/table', users: @users %>
    <% else %>
      <p>No <%= @title %>.</p>
    <% end %>
  </div>
</div>
<%= link_to 'Back', @user %>
