<p>
  <strong>Name:</strong>
  <%= current_user.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= current_user.bio %>
</p>

<p>
  <strong>Lat:</strong>
  <%= current_user.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= current_user.lng %>
</p>

<%= link_to 'Back', :back %>
