<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
        <h1><%= link_to @user.name, @user %></h1>
        <span><b>Posts:</b> <%= @user.posts.count %></span>
    </section>
    <%= render 'shared/stats' %>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
        <table>
            <thead>
                <tr>
                <th>Name</th>
                <th>Bio</th>
                <th>Lat</th>
                <th>Lng</th>
                <th colspan="3"></th>
                </tr>
            </thead>

            <tbody>
                <% @users.each do |user| %>
                <tr>
                    <td><%= user.name %></td>
                    <td><%= user.bio %></td>
                    <td><%= user.lat %></td>
                    <td><%= user.lng %></td>
                    <td><%= link_to 'Show', user %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <%# <%= will_paginate  %>
    <% end %>
  </div>
</div>
