<%= render 'follow_form' %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @user.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @user.lng %>
</p>

<% if is_current_user?(@user) %>
  <%= render 'shared/stats' %>
  <br>
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to 'Back', root_url %>
<% else %>
  <%= link_to 'Back', :back %>
<% end %>
