<!DOCTYPE html>
<html>
  <head>
    <title>RadiusOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Comfortaa|Ubuntu&display=swap' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" id="logo" href="/">
        <%= image_tag 'typeface.png', width: '88.4375', height: '30' %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item <%= 'active' if current_page?(root_path) %>">
            <%= link_to root_path, :class => 'nav-link' do %>Home
              <%= (content_tag :span, "(current)", :class => "sr-only") if current_page?(root_path) %>
            <% end %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item <%= 'active' if current_page?(current_user) %>">
              <%= link_to profile_path, :class => 'nav-link' do %>Profile
                <%= (content_tag :span, "(current)", :class => "sr-only") if current_page?(root_path) %>
              <% end %>
            </li>
            <li class="nav-item <%= 'active' if current_page?(feed_path) %>">
              <%= link_to feed_path, :class => 'nav-link' do %>Feed
                <%= (content_tag :span, "(current)", :class => "sr-only") if current_page?(root_path) %>
              <% end %>
            </li>
            <li class="nav-item <%= 'active' if ['messages', 'conversations'].include?(controller_name) %>">
              <%= link_to conversations_path, :class => 'nav-link' do %>Chats
                <%= (content_tag :span, "(current)", :class => "sr-only") if current_page?(root_path) %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, :class => 'nav-link' do %>Logout
                <%= (content_tag :span, "(current)", :class => "sr-only") if current_page?(root_path) %>
              <% end %>
            </li>
          <% else %>
            <li class="nav-item <%= 'active' if current_page?(new_user_registration_path) %>">
              <%= link_to new_user_registration_path, :class => 'nav-link' do %>Sign up
                <%= (content_tag :span, "(current)", :class => "sr-only") if current_page?(root_path) %>
              <% end %>
            </li>
            <li class="nav-item <%= 'active' if current_page?(new_user_session_path) %>">
              <%= link_to new_user_session_path, :class => 'nav-link' do %>Login
                <%= (content_tag :span, "(current)", :class => "sr-only") if current_page?(root_path) %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="<%= 'container' unless ['messages', 'conversations'].include?(controller_name) %>">
      <%= yield %>
    </div>
  </body>
</html>
