<div class="row body-options">
  <div class="col-md-8 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h1 class="card-title text-center">Sign Up</h1>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "users/shared/error_messages", resource: resource %>

            <div class="form-group">
              <%= f.label :name %><br />
              <%= f.text_field :name, autofocus: true, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :bio %><br />
              <%= f.text_field :bio, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autocomplete: "email", class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
            </div>

            <div class="text-center">
              <%= f.submit "Sign up", :class => 'btn btn-primary custom-button' %>
              <div><%= render "users/shared/links" %></div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
